:where(.srg-ssr-theme) {
  --srg-ssr-white: #fff;
  --srg-ssr-black: #000;
  --srg-ssr-hover: #dadad2;
  --srg-ssr-menu: #141411;
  --srg-ssr-menu-hover: #2e2d29;
  --srg-ssr-neutral: #6b6960;
  --srg-ssr-red: #e31f2b;
  --srg-ssr-red-dark: #c91024;
  --srg-ssr-progress: #af001e;
  --srg-ssr-live: #ff6669;
  --srg-ssr-focus: #78aeda;
  --srg-ssr-control-size: 4em;
  --srg-ssr-gap: .8em;
  --srg-ssr-gutter: 3.2em;
  --srg-ssr-padding: .8em;
  --srg-ssr-time-width: 9em;
  --srg-ssr-gap-tiny: .4em;
  --srg-ssr-gutter-tiny: .8em;
  --srg-ssr-padding-tiny: .4em;
  --srg-ssr-time-width-tiny: 7em;
  --srg-ssr-audio-play-size: 4.8em;
  --srg-ssr-audio-only-height: 3.2em;
}
