.vjs-menu-button-popup.vjs-hover .vjs-menu {
  display: none;
}

.vjs-menu-button-popup .vjs-menu {
  right: 0;
  left: auto;
  margin: 0;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  right: 0;
  bottom: 4.4em;
  width: auto;
  min-width: 28em;
  max-height: 15em;
  max-height: calc(100cqb - 5.6em);
  padding: .8em 0;
  font-family: inherit;
  background-color: var(--srg-ssr-menu);
  border-radius: .8em;
  overscroll-behavior: contain;
  scrollbar-color: var(--srg-ssr-neutral) transparent;
  scrollbar-width: thin;
}
