name: Quality

on:
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        env:
          CI: true
        run: |
          npm pkg delete scripts.prepare
          npm ci

      - name: Run JS and CSS linters
        run: |
          npm run eslint && npm run stylelint

      - name: Run Build
        run: |
          npm run build -ws

      - name: Run unit tests
        run: |
          npm test

      - name: Report Coverage
        uses: davelosert/vitest-coverage-report-action@v2

      - name: Filter changes in scripts folder
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            scripts:
              - 'scripts/**'

      - name: Run create tests if scripts folder changed
        if: steps.filter.outputs.scripts == 'true'
        run: |
          echo "Changes detected in scripts folder."
          npm run test:create
